COBRAData-0.1/src/schemas/COBRAData/COBRAData.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- schema XML generated by Jordi Huguet on 2016-11-07 14:42:37 -->
<xs:schema xmlns:COBRA="http://nrg.wustl.edu/COBRA" xmlns:xdat="http://nrg.wustl.edu/xdat" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xnat="http://nrg.wustl.edu/xnat" targetNamespace="http://nrg.wustl.edu/COBRA" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
    <xs:element name="brainVol" type="COBRA:brainVolumeData"/>
    <xs:element name="MRS" type="COBRA:MRSpectroscopyData"/>
    <xs:element name="ASL" type="COBRA:ASLData"/>
    <xs:element name="fMRI" type="COBRA:rsfMRIData"/>
    <xs:element name="DTI" type="COBRA:DTIData"/>
    <xs:element name="corticalThick" type="COBRA:corticalThicknessData"/>
    <xs:complexType name="brainVolumeData">
        <xs:annotation>
            <xs:documentation>structural scan - brain volume metrics datatype - version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="COBRA:aData">
                <xs:sequence>
                    <!-- Grey matter volume -->
                    <xs:element name="GM" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter volume -->
                    <xs:element name="WM" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Cerebrospinal fluid volume -->
                    <xs:element name="CSF" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Whole brain volume [gm + wm] -->
                    <xs:element name="WBV" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Intracranial volume [gm + wm + csf] -->
                    <xs:element name="ICV" type="xs:double" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="corticalThicknessData">
        <xs:annotation>
            <xs:documentation>structural scan - cortical thickness metrics datatype - version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="COBRA:aData">
                <xs:sequence>
                    <!-- left hemisphere cortical thickness -->
                    <xs:element name="lh_MeanThickness_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- right hemisphere cortical thickness -->
                    <xs:element name="rh_MeanThickness_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Cerebellum white matter - left -->
                    <xs:element name="Left-Cerebellum-White-Matter" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Cerebellum grey matter - left -->
                    <xs:element name="Left-Cerebellum-Cortex" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Thalamus - left -->
                    <xs:element name="Left-Thalamus-Proper" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Caudate - left -->
                    <xs:element name="Left-Caudate" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Putamen - left -->
                    <xs:element name="Left-Putamen" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Pallidum - left -->
                    <xs:element name="Left-Pallidum" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Brain stem -->
                    <xs:element name="Brain-Stem" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Hippcampus - left -->
                    <xs:element name="Left-Hippocampus" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Amgydala - left -->
                    <xs:element name="Left-Amygdala" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Nucleus Accumbens - left -->
                    <xs:element name="Left-Accumbens-area" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Ventral diencephalon - left -->
                    <xs:element name="Left-VentralDC" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Cerebellum white matter - left -->
                    <xs:element name="Right-Cerebellum-White-Matter" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Cerebellum grey matter - left -->
                    <xs:element name="Right-Cerebellum-Cortex" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Thalamus - left -->
                    <xs:element name="Right-Thalamus-Proper" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Caudate - left -->
                    <xs:element name="Right-Caudate" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Putamen - left -->
                    <xs:element name="Right-Putamen" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Pallidum - left -->
                    <xs:element name="Right-Pallidum" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Hippcampus - left -->
                    <xs:element name="Right-Hippocampus" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Amgydala - left -->
                    <xs:element name="Right-Amygdala" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Nucleus Accumbens - left -->
                    <xs:element name="Right-Accumbens-area" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Ventral diencephalon - left -->
                    <xs:element name="Right-VentralDC" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Optic chiasm -->
                    <xs:element name="Optic-Chiasm" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Corpus callosum - posterior -->
                    <xs:element name="CC_Posterior" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Corpus callosum - mid posterior -->
                    <xs:element name="CC_Mid_Posterior" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Corpus callosum - centre -->
                    <xs:element name="CC_Central" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Corpus callosum - mid anterior -->
                    <xs:element name="CC_Mid_Anterior" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Corpus callosum - anterior -->
                    <xs:element name="CC_Anterior" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- left hemisphere cortical parcellation ROIs (Freesurfer) G = gyrus -->
                    <xs:element name="lh_G_and_S_frontomargin_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_and_S_occipital_inf_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_and_S_paracentral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_and_S_subcentral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_and_S_transv_frontopol_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_and_S_cingul-Ant_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_and_S_cingul-Mid-Ant_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_and_S_cingul-Mid-Post_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_cingul-Post-dorsal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_cingul-Post-ventral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_cuneus_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_front_inf-Opercular_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_front_inf-Orbital_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_front_inf-Triangul_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_front_middle_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_front_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_Ins_lg_and_S_cent_ins_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_insular_short_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_occipital_middle_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_occipital_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_oc-temp_lat-fusifor_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_oc-temp_med-Lingual_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_oc-temp_med-Parahip_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_orbital_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_pariet_inf-Angular_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_pariet_inf-Supramar_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_parietal_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_postcentral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_precentral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_precuneus_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_rectus_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_subcallosal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_temp_sup-G_T_transv_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_temp_sup-Lateral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_temp_sup-Plan_polar_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_temp_sup-Plan_tempo_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_temporal_inf_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_G_temporal_middle_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_Lat_Fis-ant-Horizont_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_Lat_Fis-ant-Vertical_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_Lat_Fis-post_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_Pole_occipital_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_Pole_temporal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_calcarine_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_central_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_cingul-Marginalis_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_circular_insula_ant_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_circular_insula_inf_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_circular_insula_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_collat_transv_ant_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_collat_transv_post_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_front_inf_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_front_middle_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_front_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_interm_prim-Jensen_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_intrapariet_and_P_trans_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_oc_middle_and_Lunatus_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_oc_sup_and_transversal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_occipital_ant_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_oc-temp_lat_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_oc-temp_med_and_Lingual_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_orbital_lateral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_orbital_med-olfact_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_orbital-H_Shaped_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_parieto_occipital_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_pericallosal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_postcentral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_precentral-inf-part_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_precentral-sup-part_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_suborbital_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_subparietal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_temporal_inf_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_temporal_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lh_S_temporal_transverse_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- right hemisphere cortical parcellation ROIs (Freesurfer) -->
                    <xs:element name="rh_G_and_S_frontomargin_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_and_S_occipital_inf_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_and_S_paracentral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_and_S_subcentral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_and_S_transv_frontopol_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_and_S_cingul-Ant_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_and_S_cingul-Mid-Ant_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_and_S_cingul-Mid-Post_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_cingul-Post-dorsal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_cingul-Post-ventral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_cuneus_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_front_inf-Opercular_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_front_inf-Orbital_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_front_inf-Triangul_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_front_middle_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_front_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_Ins_lg_and_S_cent_ins_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_insular_short_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_occipital_middle_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_occipital_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_oc-temp_lat-fusifor_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_oc-temp_med-Lingual_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_oc-temp_med-Parahip_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_orbital_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_pariet_inf-Angular_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_pariet_inf-Supramar_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_parietal_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_postcentral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_precentral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_precuneus_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_rectus_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_subcallosal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_temp_sup-G_T_transv_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_temp_sup-Lateral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_temp_sup-Plan_polar_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_temp_sup-Plan_tempo_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_temporal_inf_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_G_temporal_middle_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_Lat_Fis-ant-Horizont_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_Lat_Fis-ant-Vertical_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_Lat_Fis-post_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_Pole_occipital_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_Pole_temporal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_calcarine_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_central_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_cingul-Marginalis_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_circular_insula_ant_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_circular_insula_inf_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_circular_insula_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_collat_transv_ant_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_collat_transv_post_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_front_inf_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_front_middle_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_front_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_interm_prim-Jensen_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_intrapariet_and_P_trans_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_oc_middle_and_Lunatus_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_oc_sup_and_transversal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_occipital_ant_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_oc-temp_lat_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_oc-temp_med_and_Lingual_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_orbital_lateral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_orbital_med-olfact_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_orbital-H_Shaped_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_parieto_occipital_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_pericallosal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_postcentral_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_precentral-inf-part_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_precentral-sup-part_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_suborbital_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_subparietal_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_temporal_inf_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_temporal_sup_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rh_S_temporal_transverse_thickness" type="xs:double" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MRSpectroscopyData">
        <xs:annotation>
            <xs:documentation>MRS scan - spectroscopy metrics datatype - version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="COBRA:aData">
                <xs:sequence>
                    <!-- White matter myoinositol concentration -->
                    <xs:element name="WM_MI" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter total N-Acetylaspartate concentration -->
                    <xs:element name="WM_tNAA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter total choline containing compounds concentration -->
                    <xs:element name="WM_tCho" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter total creatine concentration -->
                    <xs:element name="WM_tCr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter glutamate/glutamine concentration -->
                    <xs:element name="WM_Glx" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter MI to Cr ratio -->
                    <xs:element name="WM_MI_Cr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter NAA to Cr ratio -->
                    <xs:element name="WM_NAA_Cr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter Cho to Cr ratio -->
                    <xs:element name="WM_Cho_Cr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter Glx to Cr ratio -->
                    <xs:element name="WM_Glx_Cr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Was visual inspection of white matter OK? -->
                    <!-- <xs:element name="WM_visual_inspection_OK" type="xs:boolean" minOccurs="0" maxOccurs="1"/> -->
                    <!-- Was the white matter MI peak modelled properly/present? -->
                    <!-- <xs:element name="WM_MI_OK" type="xs:boolean" minOccurs="0" maxOccurs="1"/> -->
                    <!-- Was the white matter Glx peak modelled properly/present? -->
                    <!-- <xs:element name="WM_Glx_Cr" type="xs:boolean" minOccurs="0" maxOccurs="1"/> -->
                    <!-- Putamen myoinositol concentration -->
                    <xs:element name="put_MI" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Putamen total N-Acetylaspartate concentration -->
                    <xs:element name="put_tNAA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Putamen total choline containing compounds concentration -->
                    <xs:element name="put_tCho" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Putamen total creatine concentration -->
                    <xs:element name="put_tCr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Putamen glutamate/glutamine concentration -->
                    <xs:element name="put_Glx" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Putamen MI to Cr ratio -->
                    <xs:element name="put_MI_Cr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Putamen NAA to Cr ratio -->
                    <xs:element name="put_NAA_Cr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Putamen Cho to Cr ratio -->
                    <xs:element name="put_Cho_Cr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Putamen Glx to Cr ratio -->
                    <xs:element name="put_Glx_Cr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Was visiual insepction of the putamen OK? -->
                    <!-- <xs:element name="put_visual_inspection_OK" type="xs:boolean" minOccurs="0" maxOccurs="1"/> -->
                    <!-- Was the putamen MI peak modelled properly/present? -->
                    <!-- <xs:element name="put_MI_OK" type="xs:boolean" minOccurs="0" maxOccurs="1"/> -->
                    <!-- Was the putamen Glx peak modelled properly/present? -->
                    <!-- <xs:element name="put_Glx" type="xs:boolean" minOccurs="0" maxOccurs="1"/> -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ASLData">
        <xs:annotation>
            <xs:documentation>ASL scan - arterial spin labeling metrics datatype - version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="COBRA:aData">
                <xs:sequence>
                    <!-- Mean Cerebral Blood Flow in Grey Matter -->
                    <xs:element name="CBF_GM" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in White Matter -->
                    <xs:element name="CBF_WM" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in flow territory: Left Interal Carotid Artery -->
                    <xs:element name="L_ICA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in flow territory: Right Interal Carotid Artery -->
                    <xs:element name="R_ICA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in flow territory: POS -->
                    <xs:element name="POS" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in Caudate -->
                    <xs:element name="Caudate" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in Frontal -->
                    <xs:element name="Frontal" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in Insula -->
                    <xs:element name="Insula" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in Occipital -->
                    <xs:element name="Occipital" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in Parietal -->
                    <xs:element name="Parietal" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in Putamen -->
                    <xs:element name="Putamen" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in Temporal -->
                    <xs:element name="Temporal" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Mean Cerebral Blood Flow in Thalamus -->
                    <xs:element name="Thalamus" type="xs:double" minOccurs="0" maxOccurs="1"/>                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="rsfMRIData">
        <xs:annotation>
            <xs:documentation>functional scan - resting state metrics datatype - version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="COBRA:aData">
                <xs:sequence>
                    <!-- Sensorimotor network -->
                    <xs:element name="Sensorimotor" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Auditory network -->
                    <xs:element name="Auditory" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Medial visual network -->
                    <xs:element name="Visual_medial" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Default Mode network -->
                    <xs:element name="Default_mode" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Executive control network -->
                    <xs:element name="Executive_control" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Cerebellar network -->
                    <xs:element name="Cerebellar" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Lateral visual network -->
                    <xs:element name="Visual_lateral" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Right fronto-parietal network -->
                    <xs:element name="Fronto-parietal_Right" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Left fronto-parietal network -->
                    <xs:element name="Fronto-parietal_Left" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Occipital visual network -->
                    <xs:element name="Visual_occipital" type="xs:double" minOccurs="0" maxOccurs="1"/>                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DTIData">
        <xs:annotation>
            <xs:documentation>DTI scan - diffusion tenson imaging metrics datatype - version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="COBRA:aData">
                <xs:sequence>
                    <!-- JHU label - Anterior corona radiata - left - Fractional anisotropy -->
                    <xs:element name="labels_Ant_corona_radiata_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior corona radiata - right - Fractional anisotropy -->
                    <xs:element name="labels_Ant_corona_radiata_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior limb of the internal capsule - left - Fractional anisotropy -->
                    <xs:element name="labels_Ant_limb_internal_capsule_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior limb of the internal capsule - right - Fractional anisotropy -->
                    <xs:element name="labels_Ant_limb_internal_capsule_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Body of corpus callosum - Fractional anisotropy -->
                    <xs:element name="labels_Body_corpus_callosum_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cerebral peduncle - left - Fractional anisotropy -->
                    <xs:element name="labels_Cerebral_ped_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cerebral peduncle - right - Fractional anisotropy -->
                    <xs:element name="labels_Cerebral_ped_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cingulum bundle - left - Fractional anisotropy -->
                    <xs:element name="labels_Cingulum_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cingulum bundle - right - Fractional anisotropy -->
                    <xs:element name="labels_Cingulum_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Corticospinal tract - left - Fractional anisotropy -->
                    <xs:element name="labels_Corticospinal_tract_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Corticospinal tract - right  - Fractional anisotropy -->
                    <xs:element name="labels_Corticospinal_tract_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - External capsule - left - Fractional anisotropy -->
                    <xs:element name="labels_External_capsule_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - External capsule - right - Fractional anisotropy -->
                    <xs:element name="labels_External_capsule_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix proper - Fractional anisotropy -->
                    <xs:element name="labels_Fornix_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix - Stria terminalis - left - Fractional anisotropy -->
                    <xs:element name="labels_Fornix_Stria_terminalis_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix - Stria terminalis - right - Fractional anisotropy -->
                    <xs:element name="labels_Fornix_Stria_terminalis_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Genu of corpus callosum - Fractional anisotropy -->
                    <xs:element name="labels_Genu_corpus_callosum_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Inferior cereballar peduncle - left - Fractional anisotropy -->
                    <xs:element name="labels_Inf_cerebellar_ped_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Inferior cereballar peduncle - right - Fractional anisotropy -->
                    <xs:element name="labels_Inf_cerebellar_ped_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Medial lemniscus - left - Fractional anisotropy -->
                    <xs:element name="labels_Medial_lemniscus_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Medial lemniscus - right - Fractional anisotropy -->
                    <xs:element name="labels_Medial_lemniscus_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Middle cerebellar peduncle - Fractional anisotropy -->
                    <xs:element name="labels_Middle_cerebellar_ped_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Pontine crossing tract - Fractional anisotropy -->
                    <xs:element name="labels_Pontine_crossing_tract_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior corona radiata - left - Fractional anisotropy -->
                    <xs:element name="labels_Post_corona_radiata_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior corona radiata - right - Fractional anisotropy -->
                    <xs:element name="labels_Post_corona_radiata_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior limb of the internal capsule - left - Fractional anisotropy -->
                    <xs:element name="labels_Post_limb_internal_capsule_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior limb of the internal capsule - right - Fractional anisotropy -->
                    <xs:element name="labels_Post_limb_internal_capsule_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior thalamic radiation - left - Fractional anisotropy -->
                    <xs:element name="labels_Post_thalamic_radiation_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior thalamic radiation - right - Fractional anisotropy -->
                    <xs:element name="labels_Post_thalamic_radiation_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Retrolenticular part of the internal capsule - left - Fractional anisotropy -->
                    <xs:element name="labels_Retrolenticular_part_internal_capsule_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Retrolenticular part of the internal capsule - right - Fractional anisotropy -->
                    <xs:element name="labels_Retrolenticular_part_internal_capsule_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Sagittal stratum - left - Fractional anisotropy -->
                    <xs:element name="labels_Sagittal_stratum_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Sagittal stratum - right - Fractional anisotropy -->
                    <xs:element name="labels_Sagittal_stratum_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Splenium of corpus callosum - Fractional anisotropy -->
                    <xs:element name="labels_Splenium_corpus_callosum_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior cerebellar peduncle - left - Fractional anisotropy -->
                    <xs:element name="labels_Sup_cerebellar_ped_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior cerebellar peduncle - right - Fractional anisotropy -->
                    <xs:element name="labels_Sup_cerebellar_ped_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior corona radiata - left - Fractional anisotropy -->
                    <xs:element name="labels_Sup_corona_radiata_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior corona radiata - right - Fractional anisotropy -->
                    <xs:element name="labels_Sup_corona_radiata_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior fronto-occipital fasciculus - left - Fractional anisotropy -->
                    <xs:element name="labels_Sup_fronto-occipital_fasc_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior fronto-occipital fasciculus - right - Fractional anisotropy -->
                    <xs:element name="labels_Sup_fronto-occipital_fasc_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior longitudinal fasciculus - left - Fractional anisotropy -->
                    <xs:element name="labels_Sup_long_fasc_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior longitudinal fasciculus - right - Fractional anisotropy -->
                    <xs:element name="labels_Sup_long_fasc_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Tapetum - left - Fractional anisotropy -->
                    <xs:element name="labels_Tapetum_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Tapetum - right - Fractional anisotropy -->
                    <xs:element name="labels_Tapetum_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Uncinate fasciculus - left - Fractional anisotropy -->
                    <xs:element name="labels_Uncinate_fasc_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Uncinate fasciculus - right - Fractional anisotropy -->
                    <xs:element name="labels_Uncinate_fasc_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Whole brain - Fractional anisotropy -->
                    <xs:element name="labels_whole_brain_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Anterior thalamic radiation - left - Fractional anisotropy -->
                    <xs:element name="tracts_Ant_thalamic_radiation_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Anterior thalamic radiation - right - Fractional anisotropy -->
                    <xs:element name="tracts_Ant_thalamic_radiation_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Cingulum bundle - left - Fractional anisotropy -->
                    <xs:element name="tracts_Cingulum_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Cingulum bundle - right - Fractional anisotropy -->
                    <xs:element name="tracts_Cingulum_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Corticospinal tract - left - Fractional anisotropy -->
                    <xs:element name="tracts_Corticospinal_tract_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Corticospinal tract - right  - Fractional anisotropy -->
                    <xs:element name="tracts_Corticospinal_tract_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Forceps major - Fractional anisotropy -->
                    <xs:element name="tracts_Forceps_major_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Forceps minor - Fractional anisotropy -->
                    <xs:element name="tracts_Forceps_minor_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior fronto-occipital fasciculus - left - Fractional anisotropy -->
                    <xs:element name="tracts_Inf_fronto-occipital_fasc_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior fronto-occipital fasciculus - right - Fractional anisotropy -->
                    <xs:element name="tracts_Inf_fronto-occipital_fasc_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior longitudinal fasciculus - left - Fractional anisotropy -->
                    <xs:element name="tracts_Inf_long_fasc_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior longitudinal fasciculus - right - Fractional anisotropy -->
                    <xs:element name="tracts_Inf_long_fasc_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Superior longitudinal fasciculus - left - Fractional anisotropy -->
                    <xs:element name="tracts_Sup_long_fasc_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Superior longitudinal fasciculus - right - Fractional anisotropy -->
                    <xs:element name="tracts_Sup_long_fasc_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Uncinate fasciculus - left - Fractional anisotropy -->
                    <xs:element name="tracts_Uncinate_fasc_L_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Uncinate fasciculus - right - Fractional anisotropy -->
                    <xs:element name="tracts_Uncinate_fasc_R_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Whole brain - Fractional anisotropy -->
                    <xs:element name="tracts_whole_brain_FA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior corona radiata - left - Trace -->
                    <xs:element name="labels_Ant_corona_radiata_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior corona radiata - right - Trace -->
                    <xs:element name="labels_Ant_corona_radiata_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior limb of the internal capsule - left - Trace -->
                    <xs:element name="labels_Ant_limb_internal_capsule_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior limb of the internal capsule - right - Trace -->
                    <xs:element name="labels_Ant_limb_internal_capsule_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Body of corpus callosum - Trace -->
                    <xs:element name="labels_Body_corpus_callosum_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cerebral peduncle - left - Trace -->
                    <xs:element name="labels_Cerebral_ped_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cerebral peduncle - right - Trace -->
                    <xs:element name="labels_Cerebral_ped_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cingulum bundle - left - Trace -->
                    <xs:element name="labels_Cingulum_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cingulum bundle - right - Trace -->
                    <xs:element name="labels_Cingulum_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Corticospinal tract - left - Trace -->
                    <xs:element name="labels_Corticospinal_tract_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Corticospinal tract - right  - Trace -->
                    <xs:element name="labels_Corticospinal_tract_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - External capsule - left - Trace -->
                    <xs:element name="labels_External_capsule_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - External capsule - right - Trace -->
                    <xs:element name="labels_External_capsule_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix proper - Trace -->
                    <xs:element name="labels_Fornix_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix - Stria terminalis - left - Trace -->
                    <xs:element name="labels_Fornix_Stria_terminalis_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix - Stria terminalis - right - Trace -->
                    <xs:element name="labels_Fornix_Stria_terminalis_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Genu of corpus callosum - Trace -->
                    <xs:element name="labels_Genu_corpus_callosum_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Inferior cereballar peduncle - left - Trace -->
                    <xs:element name="labels_Inf_cerebellar_ped_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Inferior cereballar peduncle - right - Trace -->
                    <xs:element name="labels_Inf_cerebellar_ped_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Medial lemniscus - left - Trace -->
                    <xs:element name="labels_Medial_lemniscus_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Medial lemniscus - right - Trace -->
                    <xs:element name="labels_Medial_lemniscus_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Middle cerebellar peduncle - Trace -->
                    <xs:element name="labels_Middle_cerebellar_ped_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Pontine crossing tract - Trace -->
                    <xs:element name="labels_Pontine_crossing_tract_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior corona radiata - left - Trace -->
                    <xs:element name="labels_Post_corona_radiata_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior corona radiata - right - Trace -->
                    <xs:element name="labels_Post_corona_radiata_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior limb of the internal capsule - left - Trace -->
                    <xs:element name="labels_Post_limb_internal_capsule_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior limb of the internal capsule - right - Trace -->
                    <xs:element name="labels_Post_limb_internal_capsule_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior thalamic radiation - left - Trace -->
                    <xs:element name="labels_Post_thalamic_radiation_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior thalamic radiation - right - Trace -->
                    <xs:element name="labels_Post_thalamic_radiation_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Retrolenticular part of the internal capsule - left - Trace -->
                    <xs:element name="labels_Retrolenticular_part_internal_capsule_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Retrolenticular part of the internal capsule - right - Trace -->
                    <xs:element name="labels_Retrolenticular_part_internal_capsule_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Sagittal stratum - left - Trace -->
                    <xs:element name="labels_Sagittal_stratum_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Sagittal stratum - right - Trace -->
                    <xs:element name="labels_Sagittal_stratum_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Splenium of corpus callosum - Trace -->
                    <xs:element name="labels_Splenium_corpus_callosum_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior cerebellar peduncle - left - Trace -->
                    <xs:element name="labels_Sup_cerebellar_ped_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior cerebellar peduncle - right - Trace -->
                    <xs:element name="labels_Sup_cerebellar_ped_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior corona radiata - left - Trace -->
                    <xs:element name="labels_Sup_corona_radiata_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior corona radiata - right - Trace -->
                    <xs:element name="labels_Sup_corona_radiata_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior fronto-occipital fasciculus - left - Trace -->
                    <xs:element name="labels_Sup_fronto-occipital_fasc_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior fronto-occipital fasciculus - right - Trace -->
                    <xs:element name="labels_Sup_fronto-occipital_fasc_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior longitudinal fasciculus - left - Trace -->
                    <xs:element name="labels_Sup_long_fasc_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior longitudinal fasciculus - right - Trace -->
                    <xs:element name="labels_Sup_long_fasc_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Tapetum - left - Trace -->
                    <xs:element name="labels_Tapetum_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Tapetum - right - Trace -->
                    <xs:element name="labels_Tapetum_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Uncinate fasciculus - left - Trace -->
                    <xs:element name="labels_Uncinate_fasc_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Uncinate fasciculus - right - Trace -->
                    <xs:element name="labels_Uncinate_fasc_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Whole brain - Trace -->
                    <xs:element name="labels_whole_brain_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Anterior thalamic radiation - left - Trace -->
                    <xs:element name="tracts_Ant_thalamic_radiation_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Anterior thalamic radiation - right - Trace -->
                    <xs:element name="tracts_Ant_thalamic_radiation_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Cingulum bundle - left - Trace -->
                    <xs:element name="tracts_Cingulum_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Cingulum bundle - right - Trace -->
                    <xs:element name="tracts_Cingulum_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Corticospinal tract - left - Trace -->
                    <xs:element name="tracts_Corticospinal_tract_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Corticospinal tract - right  - Trace -->
                    <xs:element name="tracts_Corticospinal_tract_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Forceps major - Trace -->
                    <xs:element name="tracts_Forceps_major_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Forceps minor - Trace -->
                    <xs:element name="tracts_Forceps_minor_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior fronto-occipital fasciculus - left - Trace -->
                    <xs:element name="tracts_Inf_fronto-occipital_fasc_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior fronto-occipital fasciculus - right - Trace -->
                    <xs:element name="tracts_Inf_fronto-occipital_fasc_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior longitudinal fasciculus - left - Trace -->
                    <xs:element name="tracts_Inf_long_fasc_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior longitudinal fasciculus - right - Trace -->
                    <xs:element name="tracts_Inf_long_fasc_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Superior longitudinal fasciculus - left - Trace -->
                    <xs:element name="tracts_Sup_long_fasc_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Superior longitudinal fasciculus - right - Trace -->
                    <xs:element name="tracts_Sup_long_fasc_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Uncinate fasciculus - left - Trace -->
                    <xs:element name="tracts_Uncinate_fasc_L_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Uncinate fasciculus - right - Trace -->
                    <xs:element name="tracts_Uncinate_fasc_R_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Whole brain - Trace -->
                    <xs:element name="tracts_whole_brain_TR" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior corona radiata - left - Axial diffusivity -->
                    <xs:element name="labels_Ant_corona_radiata_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior corona radiata - right - Axial diffusivity -->
                    <xs:element name="labels_Ant_corona_radiata_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior limb of the internal capsule - left - Axial diffusivity -->
                    <xs:element name="labels_Ant_limb_internal_capsule_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior limb of the internal capsule - right - Axial diffusivity -->
                    <xs:element name="labels_Ant_limb_internal_capsule_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Body of corpus callosum - Axial diffusivity -->
                    <xs:element name="labels_Body_corpus_callosum_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cerebral peduncle - left - Axial diffusivity -->
                    <xs:element name="labels_Cerebral_ped_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cerebral peduncle - right - Axial diffusivity -->
                    <xs:element name="labels_Cerebral_ped_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cingulum bundle - left - Axial diffusivity -->
                    <xs:element name="labels_Cingulum_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cingulum bundle - right - Axial diffusivity -->
                    <xs:element name="labels_Cingulum_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Corticospinal tract - left - Axial diffusivity -->
                    <xs:element name="labels_Corticospinal_tract_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Corticospinal tract - right  - Axial diffusivity -->
                    <xs:element name="labels_Corticospinal_tract_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - External capsule - left - Axial diffusivity -->
                    <xs:element name="labels_External_capsule_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - External capsule - right - Axial diffusivity -->
                    <xs:element name="labels_External_capsule_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix proper - Axial diffusivity -->
                    <xs:element name="labels_Fornix_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix - Stria terminalis - left - Axial diffusivity -->
                    <xs:element name="labels_Fornix_Stria_terminalis_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix - Stria terminalis - right - Axial diffusivity -->
                    <xs:element name="labels_Fornix_Stria_terminalis_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Genu of corpus callosum - Axial diffusivity -->
                    <xs:element name="labels_Genu_corpus_callosum_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Inferior cereballar peduncle - left - Axial diffusivity -->
                    <xs:element name="labels_Inf_cerebellar_ped_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Inferior cereballar peduncle - right - Axial diffusivity -->
                    <xs:element name="labels_Inf_cerebellar_ped_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Medial lemniscus - left - Axial diffusivity -->
                    <xs:element name="labels_Medial_lemniscus_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Medial lemniscus - right - Axial diffusivity -->
                    <xs:element name="labels_Medial_lemniscus_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Middle cerebellar peduncle - Axial diffusivity -->
                    <xs:element name="labels_Middle_cerebellar_ped_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Pontine crossing tract - Axial diffusivity -->
                    <xs:element name="labels_Pontine_crossing_tract_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior corona radiata - left - Axial diffusivity -->
                    <xs:element name="labels_Post_corona_radiata_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior corona radiata - right - Axial diffusivity -->
                    <xs:element name="labels_Post_corona_radiata_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior limb of the internal capsule - left - Axial diffusivity -->
                    <xs:element name="labels_Post_limb_internal_capsule_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior limb of the internal capsule - right - Axial diffusivity -->
                    <xs:element name="labels_Post_limb_internal_capsule_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior thalamic radiation - left - Axial diffusivity -->
                    <xs:element name="labels_Post_thalamic_radiation_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior thalamic radiation - right - Axial diffusivity -->
                    <xs:element name="labels_Post_thalamic_radiation_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Retrolenticular part of the internal capsule - left - Axial diffusivity -->
                    <xs:element name="labels_Retrolenticular_part_internal_capsule_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Retrolenticular part of the internal capsule - right - Axial diffusivity -->
                    <xs:element name="labels_Retrolenticular_part_internal_capsule_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Sagittal stratum - left - Axial diffusivity -->
                    <xs:element name="labels_Sagittal_stratum_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Sagittal stratum - right - Axial diffusivity -->
                    <xs:element name="labels_Sagittal_stratum_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Splenium of corpus callosum - Axial diffusivity -->
                    <xs:element name="labels_Splenium_corpus_callosum_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior cerebellar peduncle - left - Axial diffusivity -->
                    <xs:element name="labels_Sup_cerebellar_ped_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior cerebellar peduncle - right - Axial diffusivity -->
                    <xs:element name="labels_Sup_cerebellar_ped_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior corona radiata - left - Axial diffusivity -->
                    <xs:element name="labels_Sup_corona_radiata_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior corona radiata - right - Axial diffusivity -->
                    <xs:element name="labels_Sup_corona_radiata_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior fronto-occipital fasciculus - left - Axial diffusivity -->
                    <xs:element name="labels_Sup_fronto-occipital_fasc_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior fronto-occipital fasciculus - right - Axial diffusivity -->
                    <xs:element name="labels_Sup_fronto-occipital_fasc_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior longitudinal fasciculus - left - Axial diffusivity -->
                    <xs:element name="labels_Sup_long_fasc_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior longitudinal fasciculus - right - Axial diffusivity -->
                    <xs:element name="labels_Sup_long_fasc_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Tapetum - left - Axial diffusivity -->
                    <xs:element name="labels_Tapetum_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Tapetum - right - Axial diffusivity -->
                    <xs:element name="labels_Tapetum_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Uncinate fasciculus - left - Axial diffusivity -->
                    <xs:element name="labels_Uncinate_fasc_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Uncinate fasciculus - right - Axial diffusivity -->
                    <xs:element name="labels_Uncinate_fasc_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Whole brain - Axial diffusivity -->
                    <xs:element name="labels_whole_brain_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Anterior thalamic radiation - left - Axial diffusivity -->
                    <xs:element name="tracts_Ant_thalamic_radiation_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Anterior thalamic radiation - right - Axial diffusivity -->
                    <xs:element name="tracts_Ant_thalamic_radiation_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Cingulum bundle - left - Axial diffusivity -->
                    <xs:element name="tracts_Cingulum_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Cingulum bundle - right - Axial diffusivity -->
                    <xs:element name="tracts_Cingulum_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Corticospinal tract - left - Axial diffusivity -->
                    <xs:element name="tracts_Corticospinal_tract_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Corticospinal tract - right  - Axial diffusivity -->
                    <xs:element name="tracts_Corticospinal_tract_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Forceps major - Axial diffusivity -->
                    <xs:element name="tracts_Forceps_major_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Forceps minor - Axial diffusivity -->
                    <xs:element name="tracts_Forceps_minor_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior fronto-occipital fasciculus - left - Axial diffusivity -->
                    <xs:element name="tracts_Inf_fronto-occipital_fasc_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior fronto-occipital fasciculus - right - Axial diffusivity -->
                    <xs:element name="tracts_Inf_fronto-occipital_fasc_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior longitudinal fasciculus - left - Axial diffusivity -->
                    <xs:element name="tracts_Inf_long_fasc_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior longitudinal fasciculus - right - Axial diffusivity -->
                    <xs:element name="tracts_Inf_long_fasc_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Superior longitudinal fasciculus - left - Axial diffusivity -->
                    <xs:element name="tracts_Sup_long_fasc_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Superior longitudinal fasciculus - right - Axial diffusivity -->
                    <xs:element name="tracts_Sup_long_fasc_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Uncinate fasciculus - left - Axial diffusivity -->
                    <xs:element name="tracts_Uncinate_fasc_L_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Uncinate fasciculus - right - Axial diffusivity -->
                    <xs:element name="tracts_Uncinate_fasc_R_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Whole brain - Axial diffusivity -->
                    <xs:element name="tracts_whole_brain_AD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior corona radiata - left - Radial diffusivity -->
                    <xs:element name="labels_Ant_corona_radiata_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior corona radiata - right - Radial diffusivity -->
                    <xs:element name="labels_Ant_corona_radiata_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior limb of the internal capsule - left - Radial diffusivity -->
                    <xs:element name="labels_Ant_limb_internal_capsule_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Anterior limb of the internal capsule - right - Radial diffusivity -->
                    <xs:element name="labels_Ant_limb_internal_capsule_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Body of corpus callosum - Radial diffusivity -->
                    <xs:element name="labels_Body_corpus_callosum_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cerebral peduncle - left - Radial diffusivity -->
                    <xs:element name="labels_Cerebral_ped_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cerebral peduncle - right - Radial diffusivity -->
                    <xs:element name="labels_Cerebral_ped_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cingulum bundle - left - Radial diffusivity -->
                    <xs:element name="labels_Cingulum_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Cingulum bundle - right - Radial diffusivity -->
                    <xs:element name="labels_Cingulum_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Corticospinal tract - left - Radial diffusivity -->
                    <xs:element name="labels_Corticospinal_tract_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Corticospinal tract - right  - Radial diffusivity -->
                    <xs:element name="labels_Corticospinal_tract_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - External capsule - left - Radial diffusivity -->
                    <xs:element name="labels_External_capsule_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - External capsule - right - Radial diffusivity -->
                    <xs:element name="labels_External_capsule_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix proper - Radial diffusivity -->
                    <xs:element name="labels_Fornix_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix - Stria terminalis - left - Radial diffusivity -->
                    <xs:element name="labels_Fornix_Stria_terminalis_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Fornix - Stria terminalis - right - Radial diffusivity -->
                    <xs:element name="labels_Fornix_Stria_terminalis_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Genu of corpus callosum - Radial diffusivity -->
                    <xs:element name="labels_Genu_corpus_callosum_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Inferior cereballar peduncle - left - Radial diffusivity -->
                    <xs:element name="labels_Inf_cerebellar_ped_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Inferior cereballar peduncle - right - Radial diffusivity -->
                    <xs:element name="labels_Inf_cerebellar_ped_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Medial lemniscus - left - Radial diffusivity -->
                    <xs:element name="labels_Medial_lemniscus_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Medial lemniscus - right - Radial diffusivity -->
                    <xs:element name="labels_Medial_lemniscus_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Middle cerebellar peduncle - Radial diffusivity -->
                    <xs:element name="labels_Middle_cerebellar_ped_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Pontine crossing tract - Radial diffusivity -->
                    <xs:element name="labels_Pontine_crossing_tract_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior corona radiata - left - Radial diffusivity -->
                    <xs:element name="labels_Post_corona_radiata_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior corona radiata - right - Radial diffusivity -->
                    <xs:element name="labels_Post_corona_radiata_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior limb of the internal capsule - left - Radial diffusivity -->
                    <xs:element name="labels_Post_limb_internal_capsule_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior limb of the internal capsule - right - Radial diffusivity -->
                    <xs:element name="labels_Post_limb_internal_capsule_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior thalamic radiation - left - Radial diffusivity -->
                    <xs:element name="labels_Post_thalamic_radiation_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Posterior thalamic radiation - right - Radial diffusivity -->
                    <xs:element name="labels_Post_thalamic_radiation_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Retrolenticular part of the internal capsule - left - Radial diffusivity -->
                    <xs:element name="labels_Retrolenticular_part_internal_capsule_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Retrolenticular part of the internal capsule - right - Radial diffusivity -->
                    <xs:element name="labels_Retrolenticular_part_internal_capsule_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Sagittal stratum - left - Radial diffusivity -->
                    <xs:element name="labels_Sagittal_stratum_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Sagittal stratum - right - Radial diffusivity -->
                    <xs:element name="labels_Sagittal_stratum_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Splenium of corpus callosum - Radial diffusivity -->
                    <xs:element name="labels_Splenium_corpus_callosum_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior cerebellar peduncle - left - Radial diffusivity -->
                    <xs:element name="labels_Sup_cerebellar_ped_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior cerebellar peduncle - right - Radial diffusivity -->
                    <xs:element name="labels_Sup_cerebellar_ped_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior corona radiata - left - Radial diffusivity -->
                    <xs:element name="labels_Sup_corona_radiata_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior corona radiata - right - Radial diffusivity -->
                    <xs:element name="labels_Sup_corona_radiata_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior fronto-occipital fasciculus - left - Radial diffusivity -->
                    <xs:element name="labels_Sup_fronto-occipital_fasc_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior fronto-occipital fasciculus - right - Radial diffusivity -->
                    <xs:element name="labels_Sup_fronto-occipital_fasc_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior longitudinal fasciculus - left - Radial diffusivity -->
                    <xs:element name="labels_Sup_long_fasc_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Superior longitudinal fasciculus - right - Radial diffusivity -->
                    <xs:element name="labels_Sup_long_fasc_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Tapetum - left - Radial diffusivity -->
                    <xs:element name="labels_Tapetum_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Tapetum - right - Radial diffusivity -->
                    <xs:element name="labels_Tapetum_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Uncinate fasciculus - left - Radial diffusivity -->
                    <xs:element name="labels_Uncinate_fasc_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Uncinate fasciculus - right - Radial diffusivity -->
                    <xs:element name="labels_Uncinate_fasc_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JHU label - Whole brain - Radial diffusivity -->
                    <xs:element name="labels_whole_brain_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Anterior thalamic radiation - left - Radial diffusivity -->
                    <xs:element name="tracts_Ant_thalamic_radiation_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Anterior thalamic radiation - right - Radial diffusivity -->
                    <xs:element name="tracts_Ant_thalamic_radiation_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Cingulum bundle - left - Radial diffusivity -->
                    <xs:element name="tracts_Cingulum_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Cingulum bundle - right - Radial diffusivity -->
                    <xs:element name="tracts_Cingulum_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Corticospinal tract - left - Radial diffusivity -->
                    <xs:element name="tracts_Corticospinal_tract_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Corticospinal tract - right  - Radial diffusivity -->
                    <xs:element name="tracts_Corticospinal_tract_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Forceps major - Radial diffusivity -->
                    <xs:element name="tracts_Forceps_major_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Forceps minor - Radial diffusivity -->
                    <xs:element name="tracts_Forceps_minor_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior fronto-occipital fasciculus - left - Radial diffusivity -->
                    <xs:element name="tracts_Inf_fronto-occipital_fasc_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior fronto-occipital fasciculus - right - Radial diffusivity -->
                    <xs:element name="tracts_Inf_fronto-occipital_fasc_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior longitudinal fasciculus - left - Radial diffusivity -->
                    <xs:element name="tracts_Inf_long_fasc_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Inferior longitudinal fasciculus - right - Radial diffusivity -->
                    <xs:element name="tracts_Inf_long_fasc_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Superior longitudinal fasciculus - left - Radial diffusivity -->
                    <xs:element name="tracts_Sup_long_fasc_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Superior longitudinal fasciculus - right - Radial diffusivity -->
                    <xs:element name="tracts_Sup_long_fasc_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Uncinate fasciculus - left - Radial diffusivity -->
                    <xs:element name="tracts_Uncinate_fasc_L_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Uncinate fasciculus - right - Radial diffusivity -->
                    <xs:element name="tracts_Uncinate_fasc_R_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- JU tract - Whole brain - Radial diffusivity -->
                    <xs:element name="tracts_whole_brain_RD" type="xs:double" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="aData">
        <xs:annotation>
            <xs:documentation>abstract scan-related assessment datatype - version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:imageAssessorData">
                <xs:sequence>
                    <xs:element name="scan" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:attribute name="ID" type="xs:string" use="required"/>
                            <xs:attribute name="type" type="xs:string" use="required"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
