qMRIData-0.1/src/schemas/qMRIData/qMRIData.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- schema XML generated by Jordi Huguet on 2017-09-01 14:36:53 -->
<xs:schema xmlns:AMCZ0="http://nrg.wustl.edu/AMCZ0" xmlns:xdat="http://nrg.wustl.edu/xdat" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xnat="http://nrg.wustl.edu/xnat" targetNamespace="http://nrg.wustl.edu/AMCZ0" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
    <xs:element name="QMRI" type="AMCZ0:qMRIData"/>
    <xs:complexType name="qMRIData">
        <xs:annotation>
            <xs:documentation>quantitative MRI assessment datatype - version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:imageAssessorData">
                <xs:sequence>                    
                    <!-- Gray matter R1 T1w (GM_R1) -->
                    <xs:element name="gm_r1" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Gray matter R2* T1w (GM_R2s) -->
                    <xs:element name="gm_r2s" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter R1 T1w (WM_R1) -->
                    <xs:element name="wm_r1" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter R2* T1w (WM_R2s) -->
                    <xs:element name="wm_r2s" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Gray matter volume (GM_vol) -->
                    <xs:element name="gm_vol" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- White matter volume (WM_vol) -->
                    <xs:element name="wm_vol" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- IntraCraneal total Volume (ICV) -->
                    <xs:element name="icv" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- B1 mean (B1mean) -->
                    <xs:element name="b1mean" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- B1 standard deviation (B1std) -->
                    <xs:element name="b1std" type="xs:double" minOccurs="0" maxOccurs="1"/>                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
</xs:schema>