QAPdata-0.4/src/schemas/QAPData/QAPData.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- schema XML generated by Jordi Huguet on 2016-07-20 11:14:29 -->
<xs:schema xmlns:AMCZ0="http://nrg.wustl.edu/AMCZ0" xmlns:xdat="http://nrg.wustl.edu/xdat" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xnat="http://nrg.wustl.edu/xnat" targetNamespace="http://nrg.wustl.edu/AMCZ0" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
    <xs:element name="ftempQA" type="AMCZ0:ftempQAPData"/>
    <xs:element name="fspatQA" type="AMCZ0:fspatQAPData"/>
    <xs:element name="anatQA" type="AMCZ0:anatQAPData"/>    
    <xs:complexType name="ftempQAPData">
        <xs:annotation>
            <xs:documentation>temporal functional QAP v1.0.5 quality assessment datatype - version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AMCZ0:aQAData">
                <xs:sequence>                                    
                    <!-- Median Distance Index -->
                    <xs:element name="quality" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- (mean?) temporal signal-to-noise ratio (tSNR) -->
                    <xs:element name="m_tsnr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Outlier Detection -->
                    <xs:element name="outlier" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Standardized DVARS -->
                    <xs:element name="dvars" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Global Correlation -->
                    <xs:element name="gcor" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Fractional Displacement (FD) -->
                    <xs:element name="fd" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <!-- mean FD -->
                            <xs:attribute name="mean_fd" type="xs:double" use="optional"/>
                            <!-- number of volumes with significative FD -->
                            <xs:attribute name="num_fd" type="xs:integer" use="optional"/>           
                            <!-- percent of volumes with significative FD -->                            
                            <xs:attribute name="perc_fd" type="xs:double" use="optional"/>                                                        
                        </xs:complexType>
                    </xs:element>                                        
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fspatQAPData">
        <xs:annotation>
            <xs:documentation>spatial functional QAP v1.0.5 quality assessment datatype - version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AMCZ0:aQAData">
                <xs:sequence>                    
                    <!-- Entropy Focus Criterion (EFC) -->
                    <xs:element name="efc" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- signal-to-noise ratio (SNR) -->
                    <xs:element name="snr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Foreground to Background Energy Ratio (FBER) -->
                    <xs:element name="fber" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Ghost-to-Signal ratio (GSR) -->
                    <xs:element name="gsr" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:attribute name="ghost_x" type="xs:double" use="optional"/>
                            <xs:attribute name="ghost_y" type="xs:double" use="optional"/>                            
                            <xs:attribute name="ghost_z" type="xs:double" use="optional"/>                                                        
                        </xs:complexType>
                    </xs:element>
                    <!-- Foreground mask -->
                    <xs:element name="fg" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <!-- Foreground mask mean -->
                            <xs:attribute name="fg_mean" type="xs:double" use="optional"/>
                            <!-- Foreground mask size -->
                            <xs:attribute name="fg_size" type="xs:integer" use="optional"/>                            
                            <!-- Foreground mask standard deviation -->
                            <xs:attribute name="fg_std" type="xs:double" use="optional"/>                                                        
                        </xs:complexType>
                    </xs:element>
                    <!-- Background mask -->
                    <xs:element name="bg" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <!-- Background mask mean -->
                            <xs:attribute name="bg_mean" type="xs:double" use="optional"/>
                            <!-- Background mask size -->
                            <xs:attribute name="bg_size" type="xs:integer" use="optional"/>    
                            <!-- Background mask standard deviation -->                            
                            <xs:attribute name="bg_std" type="xs:double" use="optional"/>                                                        
                        </xs:complexType>
                    </xs:element>
                    <!-- full-width half maximum (FWHM) smoothness of the voxels averaged across 3 coordinate axes -->
                    <xs:element name="fwhm" type="xs:double" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <!-- FWHM for axis X -->
                            <xs:attribute name="fwhm_x" type="xs:double" use="optional"/>                            
                            <!-- FWHM for axis Y -->
                            <xs:attribute name="fwhm_y" type="xs:double" use="optional"/>                            
                            <!-- FWHM for axis Z -->
                            <xs:attribute name="fwhm_z" type="xs:double" use="optional"/>                            
                        </xs:complexType>
                    </xs:element> 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="anatQAPData">
        <xs:annotation>
            <xs:documentation>spatial anatomical QAP v1.0.5 quality assessment datatype - version 0.2</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AMCZ0:aQAData">
                <xs:sequence>                    
                    <!-- Contrast-to-Noise Ratio (CNR) -->
                    <xs:element name="cnr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Entropy Focus Criterion (EFC) -->
                    <xs:element name="efc" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- signal-to-noise ratio (SNR) -->
                    <xs:element name="snr" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Foreground to Background Energy Ratio (FBER) -->
                    <xs:element name="fber" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Artifact Detection (Qi1) -->
                    <xs:element name="qi1" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <!-- Gray matter mask -->
                    <xs:element name="gm" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <!-- Gray matter mask mean -->
                            <xs:attribute name="gm_mean" type="xs:double" use="optional"/>
                            <!-- Gray matter mask size -->
                            <xs:attribute name="gm_size" type="xs:integer" use="optional"/>                            
                            <!-- Gray matter mask standard deviation -->
                            <xs:attribute name="gm_std" type="xs:double" use="optional"/>                                                        
                        </xs:complexType>
                    </xs:element>
                    <!-- White matter mask -->
                    <xs:element name="wm" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <!-- White matter mask mean -->
                            <xs:attribute name="wm_mean" type="xs:double" use="optional"/>
                            <!-- White matter mask size -->
                            <xs:attribute name="wm_size" type="xs:integer" use="optional"/>                            
                            <!-- White matter mask standard deviation -->
                            <xs:attribute name="wm_std" type="xs:double" use="optional"/>                                                        
                        </xs:complexType>
                    </xs:element>
                    <!-- Cerebrospinal fluid (CSF) mask -->
                    <xs:element name="csf" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <!-- CSF mask mean -->
                            <xs:attribute name="csf_mean" type="xs:double" use="optional"/>
                            <!-- CSF mask size -->
                            <xs:attribute name="csf_size" type="xs:integer" use="optional"/>                            
                            <!-- CSF mask standard deviation -->
                            <xs:attribute name="csf_std" type="xs:double" use="optional"/>                                                        
                        </xs:complexType>
                    </xs:element>
                    <!-- Foreground mask -->
                    <xs:element name="fg" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <!-- Foreground mask mean -->
                            <xs:attribute name="fg_mean" type="xs:double" use="optional"/>
                            <!-- Foreground mask size -->
                            <xs:attribute name="fg_size" type="xs:integer" use="optional"/>                            
                            <!-- Foreground mask standard deviation -->
                            <xs:attribute name="fg_std" type="xs:double" use="optional"/>                                                        
                        </xs:complexType>
                    </xs:element>
                    <!-- Background mask -->
                    <xs:element name="bg" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <!-- Background mask mean -->
                            <xs:attribute name="bg_mean" type="xs:double" use="optional"/>
                            <!-- Background mask size -->
                            <xs:attribute name="bg_size" type="xs:integer" use="optional"/>    
                            <!-- Background mask standard deviation -->                            
                            <xs:attribute name="bg_std" type="xs:double" use="optional"/>                                                        
                        </xs:complexType>
                    </xs:element>
                    <!-- full-width half maximum (FWHM) smoothness of the voxels averaged across 3 coordinate axes -->
                    <xs:element name="fwhm" type="xs:double" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <!-- FWHM averaged across 3 coordinate axes -->
                            <!--<xs:attribute name="fwhm_avg" type="xs:double" use="optional"/>-->
                            <!-- FWHM for axis X -->
                            <xs:attribute name="fwhm_x" type="xs:double" use="optional"/>                            
                            <!-- FWHM for axis Y -->
                            <xs:attribute name="fwhm_y" type="xs:double" use="optional"/>                            
                            <!-- FWHM for axis Z -->
                            <xs:attribute name="fwhm_z" type="xs:double" use="optional"/>                            
                        </xs:complexType>
                    </xs:element>                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="aQAData">
        <xs:annotation>
            <xs:documentation>abstract assessment datatype - version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:imageAssessorData">
                <xs:sequence>                    
                    <xs:element name="scan" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:attribute name="ID" type="xs:string" use="required"/>
                            <xs:attribute name="type" type="xs:string" use="required"/>                            
                        </xs:complexType>
                    </xs:element>                                       
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
</xs:schema>